body{

   font-family: sans-serif;
   color: black !important;
}
/* ---------------Navigation Bar----------------------- */
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right ,#34077c,#34077c);
    padding: 0 !important;
}
.navbar-brand img{
    height: 40px;
    padding-left: 20px;

}
.navbar-nav li{
    padding: 0 10px;

}
.navbar-nav li a{
 color: rgb(255, 255, 255) !important;
 font-weight: 600;
 float: left;
 text-align: left;
}
.fa-bars{
    color: blanchedalmond;
    font-size: 30px !important;
}
.navbar toggler{
    outline: none !important;
}
.fixed-bottom a{
    color: rgb(255, 255, 255);
}

/* ----------Slider---------------- */

.carousel-item{
    /* height: 100vh;
    min-height: 300px; */
    background: no-repeat center scroll;
    -webit-background-size:cover;
    background-size: cover;
    padding-bottom: 10px;
}
.carousel-caption{
    bottom: 220px;
    color: rgb(7, 218, 255);

}
#about .jumbotron{
    background-color: #3498db;
    border-radius: 10px;
    text-align: center;
}

#about-about{
    background-color: rgb(255, 255, 255);
}
.faq{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: blue;
}
.accordion{
    padding-bottom: 100px;
}