body{

   /* font-family: sans-serif; */
   font-family: Georgia;
   color: black !important;
   padding-bottom: 50px;
}
/* ---------------Navigation Bar----------------------- */
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right ,#34077c,#34077c);
    padding: 0 !important;
}
.navbar-brand img{
    height: 40px;
    padding-left: 20px;

}
.navbar-nav li{
    padding: 0 10px;

}
.navbar-nav li a{
 color: rgb(255, 255, 255) !important;
 font-weight: 600;
 float: left;
 text-align: left;
}
.fa-bars{
    color: blanchedalmond;
    font-size: 30px !important;
}
.navbar toggler{
    outline: none !important;
}
.fixed-bottom a{
    color: rgb(255, 255, 255);
}

/* ----------Slider---------------- */

.carousel-item{
    /* height: 100vh;
    min-height: 300px; */
    background: no-repeat center scroll;
    -webit-background-size:cover;
    background-size: cover;
    padding-bottom: 10px;
}
.carousel-caption{
    bottom: 220px;
    color: rgb(7, 218, 255);

}
#about .jumbotron{
    /* background-color: #042236; */
    background-image: linear-gradient(rgb(252, 251, 255),#6d8888);
    border-radius: 10px;
    text-align: center;
}

#about-about{
    background-color: rgb(255, 255, 255);
}
.faq{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: blue;
}
.accordion{
    padding-bottom: 100px;
}
.loginbody{
    background-image: url("https://image.freepik.com/free-vector/abstract-health-medical-science-healthcare-background-digital-technology_36402-394.jpg");
    padding-bottom: 160px;
}
.logincard{
    padding-top: 100px;
}
.patientsearchpage .card{
    padding-top: 10px; 
}



.patientsearchpage .card-header{
    text-align: center;
    font-weight: bold;
    background-image: linear-gradient(#34077c,#34077c);
    border-radius: 50px;
    color: cornsilk;

}
.patientsearchpage .btn {
    background-color: #34077c;
    color: cornsilk;
}
.patientsearchpage .input-group-btn{
    padding-right: 200px;
    
    
}
.niyass{

    padding-left: 50%;
    
}
.dashmenu{
    
    color: indigo;
}
.dashmenu a{
    background-color: rgb(75, 75, 75);
    color: rgb(255, 255, 255);
}


/* Vertical nav bar */

body {
    font-family: "Lato", sans-serif;
  }
  
  /* Fixed sidenav, full height */
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 10;
    left: 0;
    /* background-color: indigo; */
    background-image: linear-gradient(#34077c,#34077c);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: green;
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  
  /* Some media queries for responsiveness */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /* vertical navbar end */